/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

th a:link, th a:visited, th a:hover, th a:active {
    color: #ffffff;
}